@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

@layer swiper {
  @import "../node_modules/swiper/swiper.scss";
  @import "swiper/scss/pagination";
  @import "./swiper.scss";
}

.choose-us-card {
  border: 1px solid rgb(255 255 255 / 10%);
  position: relative;
  @apply bg-[#f1f1f196] bg-opacity-30 backdrop-blur-[10px] backdrop-filter;
}

.choose-us-card::after {
  content: "";
  height: 70px;
  width: 2px;
  position: absolute;
  left: -1px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  @apply bg-gradient-to-b from-transparent from-10% via-[#257CFF] via-30% to-transparent to-100%;
  opacity: 0;
}

.choose-us-card:hover:after {
  top: 25%;
  opacity: 1;
}

.our_process_card {
  position: relative;
}

.our_process_card:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translateX(-40%);
  width: 80px;
  height: 2px;
  border: 1px dashed black;
}

@media screen and (max-width: 1024px) {
  .our_process_card:not(:last-child)::after {
    display: none;
  }
}

.banner-section {
  width: 100%;
  background: url("../public/images/contact.jpg") no-repeat;
  background-size: cover;
  background-position: 30%;
  position: relative;
}

.banner-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
